<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BardAfar.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BardAfar.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BardAfar.Settings>
            <setting name="WebSocketServerUrlFormat" serializeAs="String">
                <value>ws://{0}:{1}</value>
            </setting>
            <setting name="WebSocketServerPath" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="HttpListenerPrefixFormat" serializeAs="String">
                <value>http://{0}:{1}/</value>
            </setting>
            <setting name="ClientPagePortToken" serializeAs="String">
                <value>PORT_TOKEN</value>
            </setting>
            <setting name="HttpListenerServerPathBase" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="SupportedAudioExtensions" serializeAs="String">
                <value>wav,mp3,ogg</value>
            </setting>
            <setting name="HttpListenerMaxConnections" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="AppExitTimeoutMs" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="LogLimitLines" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LogFormat" serializeAs="String">
                <value>{0:T} {1}</value>
            </setting>
            <setting name="BroadcastStop" serializeAs="String">
                <value>STOP</value>
            </setting>
            <setting name="TrackTimeRefreshIntervalMs" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="LogWebSocketConnectionOpenFormat" serializeAs="String">
                <value>Client connected: {0}</value>
            </setting>
            <setting name="LogWebSocketConnectionCloseFormat" serializeAs="String">
                <value>Client disconnected: {0}</value>
            </setting>
        </BardAfar.Settings>
    </applicationSettings>
    <userSettings>
        <BardAfar.Settings>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerInfoHostOrIpAddress" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="ServerInfoPortHttpListener" serializeAs="String">
                <value>8989</value>
            </setting>
            <setting name="ServerInfoPortWebSocket" serializeAs="String">
                <value>8990</value>
            </setting>
            <setting name="ServerInfoAudioDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LoopMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IterationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrackPaddingSeconds" serializeAs="String">
                <value>10</value>
            </setting>
        </BardAfar.Settings>
    </userSettings>
</configuration>